h1 {
    color: rebeccapurple;
    font: 2em sans-serif bold;
    padding: 10px 10px;
}
h2 {
  color: rebeccapurple;
  font: 1.5em sans-serif;
  padding: 10px 10px;
}
label {
  color: rebeccapurple;
  font: 1em sans-serif;
  font-weight: bold;
  padding: 10px 5px;
}
p{
  color: rebeccapurple;
  font: 1em sans-serif;
  font-weight: bold;
  padding: 10px 10px;
}
input{
  color: rgb(6, 86, 65);
  font: 1em sans-serif;
  margin: 5px;
}
input[type="radio"]{
  background-color: darkblue;
  font: 1em sans-serif;
  margin: 20px;

}
.formRadioLabel {
  color: rgb(6, 86, 65);
  font-weight: bold;
  padding: 1px; /* text to border */
  margin: 100px 0px 100px 0px;
  background-color: salmon;
}
#submit{
  color: darkblue;
  font-weight: bold;
  margin: 10px; /* border to other elements */
}
footer {
  color: rgb(6, 90, 16);
  font: 1em comic-sans 100;
}

