h1 {
    color: rebeccapurple;
    font: 2em sans-serif bold;
}
h2 {
  color: rebeccapurple;
  font: 2em sans-serif;
}
label {
  color: rgb(6, 86, 65);
  font-weight: bold;
}
p{
  color:  rgb(6, 86, 65);
  font: 1em sans-serif 500;
}
footer {
  color: rgb(6, 90, 16);
  font: 1em comic-sans 100;
}

